/* Large desktop */
@media (min-width: 1200px) {
  .separator{
    display: none;
  }

}

@media (min-width: 979px) and (max-width: 1200px) {
  .col-md-4 {
    height: 100px;
  }
  .separator{
    display: none;
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .new-details {
    clear: both;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
