body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > li > a:hover {
  color: green;
  background: white;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .nav a:hover, .navbar-custom .dropdown .open {
  background: none;
}
.dropdown a {
  color: white;
}
.dropdow-menu {
  color: white;
  background: yellow;
}
.dropdown-menu.pull-right{
  background: yellow;
}
.image-thumbnail {
  float:left;
  margin-right: 10px;
  clear:both
}
.separator {
  border-bottom: 1px solid #ddd;
}
.news-details {
  padding: 15px;
  cursor: pointer;
}
