body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > li > a:hover {
  color: green;
  background: white;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .nav a:hover, .navbar-custom .dropdown .open {
  background: none;
}
.dropdown a {
  color: white;
}
.dropdow-menu {
  color: white;
  background: yellow;
}
.dropdown-menu.pull-right{
  background: yellow;
}
.image-thumbnail {
  float:left;
  margin-right: 10px;
  clear:both
}
.separator {
  border-bottom: 1px solid #ddd;
}
.news-details {
  padding: 15px;
  cursor: pointer;
}
.row {
  margin-bottom: 12px;
}

.kindle-request-button {
  background: #ffa03e;
  border-radius: 34px;
  box-shadow: 1px 1px 3px #CCC, 0px 1px 11px #CCC;
  -webkit-box-shadow: 1px 1px 3px #CCC, 0px 1px 11px #CCC;
  -moz-box-shadow: 1px 1px 3px #CCC, 0px 1px 11px #CCC;
  border: 2px solid #fff;
  line-height: 27px;
  padding: 25px 37px 23px 38px;
}

.kindle-request-button span {
  padding: 4px 2px 4px 46px;
  color: white;
  font-size: 20px;
}

.kindle-request-button a {
  text-decoration: none;
}
.kindle-request-button:hover {
  background: green;
  text-decoration: none;
}
.kindle-request-area {
  margin-bottom: 28px;
  margin-left: 3px;
  font-size: 19px;
  font-weight: bold;
}
#assign-kindle-form button {
  margin-right: 10px;
}
