<ul class="nav navbar-nav">
  <li><a href="#kindles">Gestionar Kindles</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kindle Requests <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#kindle-requests">In Progress</a></li>
      <li><a href="#kindle-requests/active">Active</a></li>
      <li><a href="#kindle-requests/inactive">Inactive</a></li>
    </ul>
  </li>
  <li ><a href="#add-kindle">Agregar Kindle</a></li>
  <li ><a href="#logout">Cerrar Sesion</a></li>
</ul>

