<div class="row">
  <div class="col-md-4 new">
    <img src="images/test.jpg" width='100' alt="" class="image-thumbnail" style='float:left; margin-right: 10px; clear:both'>
    <h4>El PRI y el PAN planean entrar en conflicto agrario si...</h4>
    <p>DDonec id elit non mi porta gravida at eget metusonec idat eget metus. malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  <div class='separator'></div>
  <div class="col-md-4 new">
    <img src="images/test.jpg" width='100' alt="" class="image-thumbnail" style='float:left; margin-right: 10px;clear:both'>
    <h4>El PRI y el PAN planean entrar en conflicto agrario s...</h4>
    <p>DDonec id elit non mi porta gravida at eget metusonec id elit non mi porta gravida at eget metus. malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  <div class='separator'></div>
  <div class="col-md-4 new">
    <img src="images/test.jpg" width='100' alt="" class="image-thumbnail" style='float:left; margin-right: 10px;clear:both'>
    <h4>El PRI y el PAN planean entrar en conflicto agrario s...</h4>
    <p>DDonec id elit non mi porta gravida at eget metusonec id elit non mi porta gravida at eget metus. malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  <div class='separator'></div>
  <div class="col-md-4 new">
    <img src="images/test.jpg" width='100' alt="" class="image-thumbnail" style='float:left; margin-right: 10px;'>
    <h4>El PRI y el PAN planean entrar en conflicto agrario si ...</h4>
    <p>DDonec id elit non mi porta gravida at eget metusonec id elit non mi porta gravida at eget metus. malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
  <div class="col-md-4 new">
    <img src="images/test.jpg" width='100' alt="" class="image-thumbnail" style='float:left; margin-right: 10px;'>
    <h4>El PRI y el PAN planean entrar en conflicto agrario si ...</h4>
    <p>DDonec id elit non mi porta gravida at eget metusonec id elit non mi porta gravida at eget metus. malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>
</div>
